@use '../../abstracts' as *;
@use '../../base' as *;
@use '../../helpers' as *;

.site_footer {
    min-height: 100px;
   
   border-block-start: solid 1px var(--body-text);
   
  text-transform: capitalize;
    // width:100vw;
    color: var(--body-text);
    padding-block: var(--space-1);

    > .flex {
       flex-direction: row;
        justify-content: center;
        align-items: center;
       

       margin: var(--space-2);

      
    }
    .copyright{
        width: 100%;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}